﻿<div class="main-content layout-column">
    <div class="subhead">
        <h2 class="flex"
            ng-bind="ctrl.timeblock.timeblock_json.timeBlockName"></h2>        
        <a href ng-click="ctrl.closeTimeBlock()"><i class="material-icons">close</i></a>
    </div>

    <div class="list-container flex">
    	<ng-include src="ctrl.detailView"></ng-include>
    </div>
</div>