<div ng-show="show.menu" class="settings-menu">
    <div uib-dropdown dropdown-append-to-body="true" auto-close="always">
        <div class="settings-icon">
            <a ng-href="#" uib-dropdown-toggle><i class="material-icons">settings</i></a>
        </div>
        <ul class="uib-dropdown-menu right-menu" role="menu" uib-dropdown-menu>
            <li ng-show="show.allow" role="menuitem"><a href ng-click="updateStatus('allow')" class="layout-row"><span class="flex">Allow</span><i data-status-icon data-status="allow" class="md-18"></i></a></li>
            <li ng-show="show.enable" role="menuitem"><a href ng-click="updateStatus('enable')" class="layout-row"><span class="flex">Enable</span><i data-status-icon data-status="enable" class="md-18"></i></a></li>
            <li ng-show="show.notify" role="menuitem"><a href ng-click="updateStatus('alert')" class="layout-row"><span class="flex">Alert</span><i data-status-icon="" status="alert" class="md-18"></i></a></li>
            <li ng-show="show.tempAllow" role="menuitem"><a href ng-click="updateStatus('temp_allow')" class="layout-row"><span class="flex">Allow 30 Min</span><i data-status-icon="" status="temp_allow" class="md-18"></i></a></li>
            <li ng-show="show.block" role="menuitem"><a href ng-click="updateStatus('block')" class="layout-row"><span class="flex">Block</span><i data-status-icon="" status="block" class="md-18"></i></a></li>
            <li ng-show="show.disable" role="menuitem"><a href ng-click="updateStatus('disable')" class="layout-row"><span class="flex">Disable</span><i data-status-icon="" status="disable" class="md-18"></i></a></li>
            <li ng-show="show.divider" class="divider"></li>
            <li ng-show="show.trash" role="menuitem"><a href ng-click="updateStatus('delete')" class="layout-row"><span class="flex">Delete</span><i data-status-icon="" status="delete" classes="md-18"></i></a></li>
        </ul>
    </div>
</div>
