<div class="container layout-fill">
    <div class="row layout-column layout-fill">
        <span class="flex"></span>
        <div class="col-md-6 col-md-offset-3" ui-view>
        </div>
        <span class="flex"></span>
    </div>
</div>
