@import "bootstrap";
@import "theme";

@color-yellow: #f1c40f;
@color-orange: #f39c12;
@color-red: #e74c3c;
@color-green: #2ecc71;
@color-grey: #7f8c8d;
@color-blue-dark: #516D9A;
@color-blue-med: #67A4FE;
@color-blue-light: #F1F6FA;

@logo-width: 40px;
@header-height: 50px;
@header-color: #516D9A;
@blue-light: #F1F6FA;
@blue-border: #67A4FE;

// Animation Mixins
.animation (@name, @duration: 300ms, @delay: 0, @ease: ease) {
    -webkit-animation: @name @duration @delay @ease;
    -moz-animation: @name @duration @delay @ease;
    -ms-animation: @name @duration @delay @ease;
}

.transition (@transition) {
    -webkit-transition: @transition;
    -moz-transition: @transition;
    -ms-transition: @transition;
    -o-transition: @transition;
    transition: @transition;
}

.transform(@string) {
    -webkit-transform: @string;
    -moz-transform: @string;
    -ms-transform: @string;
    -o-transform: @string;
    transform: @string;
}

.scale (@factor) {
    -webkit-transform: scale(@factor);
    -moz-transform: scale(@factor);
    -ms-transform: scale(@factor);
    -o-transform: scale(@factor);
    transform: scale(@factor);
}

.rotate (@deg) {
    -webkit-transform: rotate(@deg);
    -moz-transform: rotate(@deg);
    -ms-transform: rotate(@deg);
    -o-transform: rotate(@deg);
    transform: rotate(@deg);
}

.skew (@deg, @deg2) {
    -webkit-transform: skew(@deg, @deg2);
    -moz-transform: skew(@deg, @deg2);
    -ms-transform: skew(@deg, @deg2);
    -o-transform: skew(@deg, @deg2);
    transform: skew(@deg, @deg2);
}

.translate (@x, @y:0) {
    -webkit-transform: translate(@x, @y);
    -moz-transform: translate(@x, @y);
    -ms-transform: translate(@x, @y);
    -o-transform: translate(@x, @y);
    transform: translate(@x, @y);
}

.translate3d (@x, @y: 0, @z: 0) {
    -webkit-transform: translate3d(@x, @y, @z);
    -moz-transform: translate3d(@x, @y, @z);
    -ms-transform: translate3d(@x, @y, @z);
    -o-transform: translate3d(@x, @y, @z);
    transform: translate3d(@x, @y, @z);
}

.perspective (@value: 1000) {
    -webkit-perspective: @value;
    -moz-perspective: @value;
    -ms-perspective: @value;
    perspective: @value;
}

.transform-origin (@x:center, @y:center) {
    -webkit-transform-origin: @x @y;
    -moz-transform-origin: @x @y;
    -ms-transform-origin: @x @y;
    -o-transform-origin: @x @y;
    transform-origin: @x @y;
}

.shadow() {
    -webkit-box-shadow: 3px 2px 7px rgba(0, 0, 0, .21);
    box-shadow: 3px 2px 7px rgba(0, 0, 0, .21);
}

.shadow-full() {
    -webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, .21);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .21);
}

.displayFlex() {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.flex-direction(@direction) {
    -webkit-flex-direction: @direction;
    flex-direction: @direction;
}

.flex(@string) {
    -webkit-flex: @string;
    -ms-flex: @string;
    flex: @string;
}

html,
body {
    height: 100%;
    position: relative
}

body {
    font-family: 'Oxygen', sans-serif;
    overflow-y: auto;

    &.has-navbar {
        padding-top: @header-height;
    }
}

header {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    font-family: 'Raleway', sans-serif;
    background-color: @header-color;
    height: @header-height;
    color: white;

    &.header {
        position: absolute;
    }

    h1,
    h2,
    h3 {
        line-height: @header-height; // Make sure text shows in the middle vertically
        padding: 0;
        margin: 0;
    }

    .headerLogo {
        padding-left: 21px;

        img {
            width: @logo-width;
            margin: 4px 0;
            height: (@header-height - 8);
        }
    }

    .backBtn {
        display: none;
        font-size: 30px;
        padding: 12px 0 0 14px;
        cursor: pointer;
    }

    &.show-back {
        .backBtn {
            display: block;
        }
    }
}

.oddRow {
    background-color: #FFFFFF;
}

.evenRow {
    background-color: @blue-light;
}

.gridLineText:extend(.flex) {
    font-size: @font-size-base;

    h1,
    h2,
    h3,
    h4,
    h5 {
        font-weight: bold;
        font-size: @font-size-base;
        margin: 0 0 5px;
    }
}

/*dashboard*/
.accountsbar {
    background-color: #EFF4FB;
}

img.sm-avatar {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid transparent;
    margin: 3px;

    &.selected {
        border: 3px solid @header-color;
    }
}

.viewContent {
    padding: 0px;

    > .layout-fill > .layout-fill {
        overflow-y: auto;
    }
}

.navigationBtn {
    padding: 0px 0px !important;
    height: 150px;
    width: 150px;
}

#mapDiv {
    height: 400px;
}

/*dashboard end*/

/*calls*/
.gridLine {
    &:extend(.layout-row);
    font-size: large;
    padding: 5px;
}

.appStoreImage {
    height: 20px;
    width: 20px;
}

.gridTypeImage {
    height: 40px;
    width: 40px;
    margin: 0 10px;
    background-size: contain !important;

    &.call.outgoing {
        background: url('images/icons/icons_calls_outgoing.svg') no-repeat top left;
    }

    &.call.incoming {
        background: url('images/icons/icons_calls_incoming.svg') no-repeat top left;
    }

    /*calls end*/

    &.msg.outgoing {
        background: url('images/icons/icons_messages_outgoing.svg') no-repeat top left;
    }

    &.msg.incoming {
        background: url('images/icons/icons_messages_incoming.svg') no-repeat top left;
    }

    /* websites */

    &.allow {
        background: url('images/icons/exclamation-solid-o-success.svg') no-repeat top left;
    }

    &.block {
        background: url('images/icons/exclamation-solid-o-danger.svg') no-repeat top left;
    }

    &.alert {
        background: url('images/icons/exclamation-solid-o-danger.svg') no-repeat top left;
    }

    &.temp_allow {
        background: url('images/icons/exclamation-dotted-o.svg') no-repeat top left;
    }
}

/* contacts end */

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    margin: 5px;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';

    /* Rules for sizing the icon. */
    &.md-18 {
        font-size: 18px;
    }
    &.md-24 {
        font-size: 24px;
    }
    &.md-36 {
        font-size: 36px;
    }
    &.md-48 {
        font-size: 48px;
    }

    /* Rules for using icons as black on a light background. */
    &.md-dark {
        color: rgba(0, 0, 0, 0.54);
    }

    &.md-dark.md-inactive {
        color: rgba(0, 0, 0, 0.26);
    }

    /* Rules for using icons as white on a dark background. */
    &.md-light {
        color: rgba(255, 255, 255, 1);
    }
    &.md-light.md-inactive {
        color: rgba(255, 255, 255, 0.3);
    }
}

.material-icons.iconAlertFill {
    color: @color-yellow;
}

.material-icons.iconTempAllowFill {
    color: @color-orange;
}

.material-icons.iconBlockFill {
    color: @color-red;
}

.material-icons.iconAllowFill {
    color: @color-green;
}

.material-icons.iconDeleteFill {
    color: @color-grey;
}

.material-shadow-z1 {
    box-shadow: rgba(0, 0, 0, 0.368627) 0 1px 4px 0;
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

.settings-menu {
    .settings-icon {
        padding: 0 5px;
    }

    .dropdown-menu {
        right: 0;
        left: inherit;
        top: 0;

    }
}

.dropdown-menu {
    min-width: 210px !important;
    &.right-menu {
        left: inherit;
        right: 0;
    }
}

context-menu .uib-dropdown-menu {
    .translate(0, -50px);
}

.uib-dropdown-menu.right-menu {
    .translate(-80%, -32px);
}

// Flex Model

.layout, .layout-column, .layout-row {
    box-sizing: border-box;
    .displayFlex;

    @media (max-width: @screen-xs-max) {
        &.hidden-xs {
            display: none !important;
        }

        &.visible-xs {
            .displayFlex;
        }
    }

    @media (min-width: @screen-sm-min) {
        &.visible-xs {
            display: none !important;
        }
    }
}

.layout-fill {
    margin: 0;
    width: 100%;
    min-height: 100%;
    height: 100%;
}

.layout-row {
    .flex-direction(row);
    max-height: 100%;
}

.layout-column {
    .flex-direction(column);
    max-width: 100%;

    .centered {
        align-items: center;
        -webkit-align-items: center;
    }
}

.flex {
    box-sizing: border-box;
}

.flex {
    .flex(1);
}

.flex-grow {
    .flex(1 1 100%);
}

.flex-initial {
    .flex(0 1 auto);
}

.flex-auto {
    .flex(auto);
}

.flex-none {
    .flex(0 0 auto);
}

.flex-0 {
    box-sizing: border-box;
    .flex(0 0 0%);
}

md-list {
    display: block;
    padding: 8px 0;

    &.md-default-theme md-list-item.md-2-line .md-list-item-text h3,
    &.md-default-theme md-list-item.md-2-line .md-list-item-text h4,
    &.md-default-theme md-list-item.md-3-line .md-list-item-text h3,
    &.md-default-theme md-list-item.md-3-line .md-list-item-text h4 {
        color: rgba(0, 0, 0, 0.87);
    }

    md-list-item {
        &.md-2-line .md-list-item-text,
        &.md-2-line > .md-no-style .md-list-item-text,
        &.md-3-line .md-list-item-text,
        &.md-3-line > .md-no-style .md-list-item-text {
            .flex(1);
            margin: auto;
            text-overflow: ellipsis;
        }

        &.md-2-line .md-list-item-text h3,
        &.md-2-line .md-list-item-text h4,
        &.md-3-line .md-list-item-text h3,
        &.md-3-line .md-list-item-text h4 {
            color: rgba(0, 0, 0, 0.87);
        }

        .md-list-item-inner .md-secondary,
        .md-list-item-inner .md-secondary-container,
        .md-secondary,
        .md-secondary-container {
            position: absolute;
            top: 70%;
            right: 16px;
            margin: 0 0 0 16px;
            .transform(translate3d(0, -50%, 0));
        }

        .secondary-button-padding {
            padding: 0 0 0 10px;

            h3,
            h4 {
                overflow: visible !important;
                white-space: normal;
            }
        }

        .device-release {
            position: absolute;
            margin: 0 auto;
            right: 0;
            padding: 5px 35px 5px 5px;
        }

        @media (max-width: @screen-xs-max) {
            .device-release {
                width: 17em;
                font-size: 12px;
                padding: 2px 35px 2px 2px;
            }
        }

        &.md-2-line .md-list-item-text h3,
        &.md-2-line > .md-no-style .md-list-item-text h3,
        &.md-3-line .md-list-item-text h3,
        &.md-3-line > .md-no-style .md-list-item-text h3 {
            font-size: 16px;
            font-weight: 400;
            letter-spacing: .01em;
            margin: 0;
            line-height: 1.2em;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        &.md-2-line .md-list-item-text h4,
        &.md-2-line > .md-no-style .md-list-item-text h4,
        &.md-3-line .md-list-item-text h4,
        &.md-3-line > .md-no-style .md-list-item-text h4 {
            font-size: 14px;
            letter-spacing: .01em;
            margin: 3px 0 1px;
            font-weight: 400;
            line-height: 1.2em;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        &.md-2-line .md-list-item-text p,
        &.md-2-line > .md-no-style .md-list-item-text p,
        &.md-3-line .md-list-item-text p,
        &.md-3-line > .md-no-style .md-list-item-text p {
            font-size: 14px;
            font-weight: 500;
            letter-spacing: .01em;
            margin: 0;
            line-height: 1.6em;
        }

        .md-no-style,
        &.md-no-proxy {
            position: relative;
            padding: 0 16px;
            .flex(1 1 auto);
        }

        &.md-2-line,
        &.md-2-line > .md-no-style,
        &.md-3-line,
        &.md-3-line > .md-no-style {
            -webkit-align-items: flex-start;
            -ms-flex-align: start;
            align-items: flex-start;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
        }

        &.md-3-line,
        &.md-3-line > .md-no-style {
            height: auto;
            min-height: 88px;
        }

        &.md-3-line > .md-avatar,
        &.md-3-line > .md-no-style > .md-avatar,
        &.md-3-line > .md-no-style > md-icon:first-child,
        &.md-3-line > md-icon:first-child {
            margin-top: 16px;
        }

        .md-avatar,
        .md-list-item-inner .md-avatar {
            width: 40px;
            height: 40px;
        }

        .md-avatar,
        .md-avatar-icon,
        .md-list-item-inner .md-avatar,
        .md-list-item-inner .md-avatar-icon {
            margin-top: 8px;
            margin-bottom: 8px;
            margin-right: 16px;
            border-radius: 50%;
            box-sizing: content-box;

            .gridTypeImage {
                margin: 0;
            }
        }

        .md-avatar-icon.material-icons.md-24.center {
            margin-left: 8px;
            margin-right: 0px;
        }

        &.alert-item {
            > .md-avatar {
                background-color: @gray-dark;
                color: #fff;
                margin-left: 5px;
            }

            > .secondary-button-padding {
                padding: 0 175px 0 0;
            }
        }
    }
}

md-list.md-default-theme md-list-item.md-2-line .md-list-item-text p,
md-list md-list-item.md-2-line .md-list-item-text p,
md-list.md-default-theme md-list-item.md-3-line .md-list-item-text p,
md-list md-list-item.md-3-line .md-list-item-text p {
    color: rgba(0, 0, 0, 0.54);
}

md-list-item {
    position: relative;
}

md-list-item, md-list-item .md-list-item-inner {
    .displayFlex;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 48px;
    height: auto;
}

@media (max-width: @screen-xs-max) {
    .layout-sm-column {
        .flex-direction(column) !important;

        .flex {
            display: block;
        }
    }
}

header.header {
    overflow: hidden;
    height: 50px;

    .headerLogo {
    }

    .headerText {
        overflow: hidden;

        h1:extend(.navbar-brand),
        h3:extend(.navbar-brand) {
            float: none;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }

    .headerTools {
        padding-right: 20px;
        .settingsLink img {
            width: 30px;
        }
    }
}

context-menu {
    position: absolute;
    top: 0;
    right: 15px;
    line-height: @header-height;
    padding-top: 5px;
    z-index: 1000;

    .right-menu {
        top: 0;
    }

    .context-icon {
        a,
        a:link,
        a:visited,
        a:hover {
            color: #fff;
        }
    }
}

.circle-container {
    position: relative;
    width: 16em;
    height: 16em;
    padding: 2.45em;
    /*2.8em = 2em*1.4 (2em = half the width of a link with img, 1.4 = sqrt(2))*/
    margin: 1.5em auto 0;

    .avatar {
        cursor: pointer;
        background-size: cover;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        border: solid 5px @blue-border;
        border-radius: 50%;
    }

    a {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 3em !important;
        height: 3em !important;
        margin: -1.5em;
    }

    img {
        display: block;
        width: 100%;
        margin-bottom: -10px;
    }

    div.text-center {
        font-size: @font-size-base;
        font-weight: bold;
        line-height: 100%;

        .badge {
            position: absolute;
            background-color: @brand-danger;
            .transform(translateX(7px));
        }
    }
}

.deg0 {
    .transform(translate(8em));
}

/* 12em = half the width of the wrapper */
.deg45 {
    .transform(rotate(45deg) translate(8em) rotate(-45deg));
}

.deg90 {
    .transform(rotate(90deg) translate(8em) rotate(-90deg));
}

.deg135 {
    .transform(rotate(135deg) translate(8em) rotate(-135deg));
}

.deg180 {
    .transform(translate(-8em));
}

.deg225 {
    .transform(rotate(225deg) translate(8em) rotate(-225deg));
}

.deg270 {
    .transform(rotate(270deg) translate(8em) rotate(-270deg));
}

.deg315 {
    .transform(rotate(315deg) translate(8em) rotate(-315deg));
}

@media (max-width: @screen-xs-max) {
    .circle-container {
        width: 12em;
        height: 12em;
        padding: 2.8em;
        /*2.8em = 2em*1.4 (2em = half the width of a link with img, 1.4 = sqrt(2))*/

        a {
            width: 3em !important;
            height: 3em !important;
            margin: -1.5em;
        }
    }

    .deg0 {
        .transform(translate(6em));
    }

    .deg45 {
        .transform(rotate(45deg) translate(6em) rotate(-45deg));
    }

    .deg90 {
        .transform(rotate(90deg) translate(6em) rotate(-90deg));
    }

    .deg135 {
        .transform(rotate(135deg) translate(6em) rotate(-135deg));
    }

    .deg180 {
        .transform(translate(-6em));
    }

    .deg225 {
        .transform(rotate(225deg) translate(6em) rotate(-225deg));
    }

    .deg270 {
        .transform(rotate(270deg) translate(6em) rotate(-270deg));
    }

    .deg315 {
        .transform(rotate(315deg) translate(6em) rotate(-315deg));
    }
}

form {
    [role="alert"] {
        font-size: @font-size-small;
        color: @brand-danger;
    }

    &.ng-pristine {
        [role="alert"] {
            display: none !important;
        }
    }

    &.ng-invalid {
        [role="alert"] {
            display: inherit;
        }
    }
}

.loader {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20000;
    background-color: rgba(0, 0, 0, .21);
}

[ui-view] {
    &.ng-enter,
    &.ng-leave {
        position: absolute;
        left: 0;
        right: 0;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
    }

    &.ng-enter {
        opacity: 0;
        //-webkit-transform: scale3d(0.5, 0.5, 0.5);
        //-moz-transform: scale3d(0.5, 0.5, 0.5);
        //transform: scale3d(0.5, 0.5, 0.5);
    }

    &.ng-enter-active {
        opacity: 1;
        //-webkit-transform: scale3d(1, 1, 1);
        //-moz-transform: scale3d(1, 1, 1);
        //transform: scale3d(1, 1, 1);
    }

    &.ng-leave {
        opacity: 1;
        //-webkit-transform: translate3d(0, 0, 0);
        //-moz-transform: translate3d(0, 0, 0);
        //transform: translate3d(0, 0, 0);
    }

    &.ng-leave-active {
        opacity: 0;
        //-webkit-transform: translate3d(100px, 0, 0);
        //-moz-transform: translate3d(100px, 0, 0);
        //transform: translate3d(100px, 0, 0);
    }
}

.dashboard {
    overflow: hidden;

    .device-update {
        width: 36em;
        margin: 0 auto;
    }

    .buttons {
        padding: 8em 10em 0 10em;
        //overflow: scroll
    }

    .map {
        &:extend(.flex);
        max-height: 100%;
        .box-shadow(-2px 0 5px rgba(0, 0, 0, 0.21));
    }

    @media (max-width: @screen-xs-max) {
        .device-update {
            width: initial;
        }

        .buttons {
            .flex(none);
            overflow: visible;
            padding: 6em 0 9em 0;
        }

        .map {
            height: 200px;
            min-height: 200px
        }
    }
}

.map-screen .main-content {
    .displayFlex;
    .flex(1);
}

.padding {
    padding: 10px;

    > h1:first-child,
    > h2:first-child {
        margin-top: 0;
    }
}

.main-content {
    min-height: 100%;
    z-index: 3;
    -webkit-box-shadow: -2px 0 5px rgba(0, 0, 0, .21);
    box-shadow: -2px 0 5px rgba(0, 0, 0, .21);
    display: none;
    .flex-direction(column);

    .padding {
        padding: 5px;
    }

    @media (min-width: @screen-sm-min) {
        .displayFlex;
        .flex(1);
        //border-left: 1px solid @gray-light;
        .subhead {
            // TODO remove comment if not showing header on large screen
            //display: none !important;
        }
    }

    hr {
        width: 100%;
        margin: 5px 0;
        border-top: 1px solid @gray;
    }

    .incoming, .outgoing {
        border-radius: 10px;
        border: solid 1px @gray-light;
        margin: 10px;
        padding: 5px;
        .shadow;
    }

    .incoming {
        background-color: @color-blue-light;
        margin-right: 50px;
        margin-left: 10px;
    }

    .outgoing {
        background-color: @color-blue-med;
        color: white;
        margin-left: 50px;
        margin-right: 10px;
    }

    .subject {
        color: gray;
        margin-left: 18px;
        font-weight: bold;
        margin-top: 4px;
        margin-bottom: -8px;
    }
}

.message-selected,
.record-selected {
    @media (max-width: @screen-xs-max) {
        .record-container,
        .column-container {
            display: none !important;
        }

        .main-content {
            .displayFlex;
            .flex(1);
        }
    }
}

#message-container {
    overflow-y: auto;
}

.list-striped {
    min-height: 100%;

    > div:nth-of-type(odd),
    > md-list-item:nth-of-type(odd) {
        background-color: @blue-light;
    }

    > div:nth-of-type(even),
    > md-list-item:nth-of-type(even) {
        // Nothing yet for this
    }
}

.subhead:extend(.layout-row) {
    width: 100%;
    max-height: none;
    white-space: nowrap;
    background-color: @gray-lighter;
    color: @gray-dark;
    z-index: 5;
    .shadow-full;

    > a {
        > i {
            margin: 5px 5px 0 0;
        }
    }

    h2:extend(.flex) {
        font-size: 18px;
        padding: 15px 5px;
        text-overflow: ellipsis;
        overflow: hidden;
        margin: 3px;
        padding: 5px;
    }
}

.list-container {
    overflow-y: auto;
    max-height: 100%;
}

.flex.list-container {
    min-height: 0;
}

.column-container,
.record-container {
    position: relative;
    overflow-y: auto;
    .flex(1);

    > .mdl-button--fab {
        position: absolute;
        bottom: 21px;
        left: 50%;
        .transform(translateX(-50%));
    }

    @media (min-width: @screen-sm-min) {
        width: 400px;
        .flex(initial);
    }

    .contact_header {
        width: 300px;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.column-container {
    overflow-y: hidden;
    &:extend(.layout-column);
}

.single-line {
    .gridLineText {
        padding-top: 5px;
    }
}

#main-menu {
    a,
    a:link,
    a:visited,
    a:hover {
        color: #fff;
    }
}

button {
    &.hidden-xs {
        @media (max-width: @screen-xs-max) {
            display: none !important;
        }
    }

    &.display-xs {
        display: none !important;

        @media (max-width: @screen-xs-max) {
            display: inline-block !important;
        }
    }
}

#website-details {
    md-list-item > .md-avatar {
        border-radius: 50%;
        color: #fff;

        &.bg-warning {
            background-color: #f1c40f;
        }

        &.bg-success {
            background-color: #2ecc71;
        }

        > i {
            margin-left: 8px;
        }
    }
}


/** email landing page **/

.landing * {
	font-family: 'Raleway', 'Open Sans', Helvetica;
	font-weight: 300;
	line-height: 1.5;
}
.landing {
	.landing-bold {
		font-weight: 600;
	}
	.landing-title {
		font-size: 35px;
	}
	.landing-note {
		font-size: 12px;
		font-weight: 600;
	}
	.landing-subtitle {
		font-size: 24px;
	}
	.landing-red {
		color: @color-red; /* #B5000C */;
	}
	.landing-blue {
		color: @color-blue-dark; /* #516D9A */;
	}
}

/*
@media (min-width: 768px){
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1  {
    width: 100%;
    *width: 100%;
  }
}
*/

@media (min-width: 0px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
  	float: left;
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
}

/* for timeblock nesting */
.table {
	display: table;
}
.table-row {
	display: table-row;
}
.table-cell {
	display: table-cell;
}

.timeblock-colon {
	font-weight: bold;
	font-size: 150%;
	width: 9px;
}

.timeblock-item {
	cursor: pointer;
}
.timeblock-display-name {
	font-weight: bold;
}
.day-of-week-wrapper {

	.day-of-week {
		background-color: @color-green;
		color: white;
		text-align: center;
		cursor: pointer;
		min-height: 45px;
		padding-top: 10px;
		border: 2px solid white;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;

		&.enabled-true {
			background-color: @color-red;
		}
	}
}




/** start of popups frame **/

.iframe-modal .modal-content {
	border-radius: 0 !important;
}
.iframe-modal .modal-dialog {
	margin: 5% auto;
}
.iframe-modal .modal-body {
	padding: 0 !important;
}
.iframe-modal .modal-close-layover {
	position: absolute;
	top: 0;
	right: -2px;
	width: 150px;
	height: 75px;
	background-color: transparent;
	z-index: 99;
	cursor: pointer;
}
#popupframe {
	border: 0 !important;
}
@media (min-width: 700px) {
	.iframe-modal .modal-lg {
		width: 700px;
	}
	.iframe-modal .modal-content {
		height: 366px;
	}
	#popupframe {
		width: 700px;
		height: 370px;
	}
}
@media (max-width: 699px) {
	.iframe-modal .modal-lg {
		width: 300px;
	}
	.iframe-modal .modal-content {
		height: 450px;
	}
	#popupframe {
		width: 300px;
		height: 450px;
		background-color: transparent;
	}

	.iframe-modal .modal-close-layover {
		width: 100px !important;
		height: 50px !important;
	}

}
/** end of popups frame **/


/** signup page update **/

@media screen and (min-width: 1px) and (max-width: 500px) {
	.signup {
		font-size: 8px;
	}
}
@media screen and (min-width: 501px) and (max-width:700px) {
	.signup {
		font-size: 9px;
	}
}
@media screen and (min-width: 701px) and (max-width:800px) {
	.signup {
		font-size: 10px;
	}
}

.signup {
	padding-top: 5%;
	background-image: url('../content/images/signup-cropped.jpg');
	background-repeat: no-repeat;
	background-position: left bottom;
	background-size: contain;

	.signup-form {
		padding-top: 7%;
	}
	.signup-text {
		text-align: center;
		color: #034483;
		font-family: 'Raleway', sans-serif;
	}
	.signup-text p {
		font-weight: 300;
		line-height: initial;
	}
	.signup-text * {
		text-shadow: 0 0 0.1em #fff;
	}
	.signup-title-line {
		font-size: 430%;
		padding-bottom: 3%;
		font-weight: 400 !important;
	}
	.signup-subtitle-1 {
		font-size: 260%;
	}
	.signup-subtitle-2 {
		font-size: 320%;
		padding-bottom: 0;
		margin-bottom: 0;
		font-weight: 400 !important;
	}
	.signup-price-table {
		margin: auto;
		width: initial !important;
		margin-top: -2%;
	}
	.signup-price {
		font-size: 900%;
		padding-bottom: 0;
		margin-bottom: 0;
		line-height: 0.9;
		vertical-align: bottom;
		font-weight: 400;
	}
	.signup-only {
		line-height: 0.7;
	}
	.signup-price .signup-price-symbol {
		font-size: 80%;
		display: inline-block;
		padding-bottom: 28%;
	}
	.signup-price .smaller {
		font-size: 30%;
		font-weight: 300 !important;
	}
	.signup-subtext {
		font-size: 200%;
		padding-top: 4%;
	}
}


/** end signup page update **/
