<div class="main-content layout-column">
    <div class="subhead">
        <h2 class="flex"
            ng-bind="ctrl.contact | wdContactName"></h2>
        <a href ng-click="ctrl.closeContact()"><i class="material-icons">close</i></a>
    </div>

    <div class="list-container flex">
        <uib-tabset>
            <uib-tab heading="Activity Log" ng-if="ctrl.contact.activity.length !== 0">
                <md-list role="list">
                    <md-list-item ng-repeat="activity in ctrl.contact.activity | filter: ctrl.contactFilled"
                                  class="padding md-3-line">
                        <div class="md-list-item-text layout-column">
                            <h3 ng-bind="activity.log_device_contact | wdContactName"></h3>
                            <h4 ng-bind="activity.log_action.description"></h4>
                            <p><span class="glyphicon glyphicon-time"></span> <span ng-bind="activity.device_created_on | wdDate"></span></p>
                        </div>
                    </md-list-item>
                </md-list>
            </uib-tab>
            <uib-tab heading="Contact Details">
                <ng-include src="ctrl.detailsTemplate"></ng-include>
            </uib-tab>
        </uib-tabset>
    </div>
</div>