﻿<div class="contactDetails padding">
    <div class="container-fluid">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="firstName" class="control-label col-md-3 col-lg-2">First Name</label>

                <div class="col-md-9 col-lg-10">
                    <input type="text" title="First Name" class="form-control"
                           ng-model="ctrl.contact.contact_json.firstName" required
                           name="firstName" id="firstName" ng-readonly="true">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3 col-lg-2">Last Name</label>

                <div class="col-md-9 col-lg-10">
                    <input type="text" title="Last Name" id="lastName" name="lastName"
                           class="form-control" ng-model="ctrl.contact.contact_json.lastName" required
                           ng-readonly="true">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3 col-lg-2">Company</label>

                <div class="col-md-9 col-lg-10">
                    <input type="text" id="company" name="company" class="form-control"
                           ng-model="ctrl.contact.contact_json.company" ng-readonly="true">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3 col-lg-2">Mobile Phone</label>

                <div class="col-md-9 col-lg-10">
                    <input type="tel" id="mobilePhone" name="mobilePhone" class="form-control"
                           ng-model="ctrl.contact.contact_json.mobilePhone" ng-readonly="true">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3 col-lg-2">Home Phone</label>

                <div class="col-md-9 col-lg-10">
                    <input type="text" id="homePhone" name="homePhone" class="form-control"
                           ng-model="ctrl.contact.contact_json.homePhone" ng-readonly="true">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3 col-lg-2">Work Phone</label>

                <div class="col-md-9 col-lg-10">
                    <input type="text" id="workPhone" name="workPhone" class="form-control"
                           ng-model="ctrl.contact.contact_json.workPhone" ng-readonly="true">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3 col-lg-2">Other Phone</label>

                <div class="col-md-9 col-lg-10">
                    <input type="text" id="otherPhone" name="otherPhone" class="form-control"
                           ng-model="ctrl.contact.contact_json.otherPhone" ng-readonly="true">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3 col-lg-2">FAX</label>

                <div class="col-md-9 col-lg-10">
                    <input type="text" id="fax" name="fax" class="form-control"
                           ng-model="ctrl.contact.contact_json.fax" ng-readonly="true">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3 col-lg-2">E-mail</label>

                <div class="col-md-9 col-lg-10">
                    <input type="email" id="homeEmail" name="homeEmail" class="form-control"
                           ng-model="ctrl.contact.contact_json.homeEmail" ng-readonly="true">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3 col-lg-2">Work E-mail</label>

                <div class="col-md-9 col-lg-10">
                    <input type="email" id="workEmail" name="workEmail" class="form-control"
                           ng-model="ctrl.contact.contact_json.workEmail" ng-readonly="true">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3 col-lg-2">Other E-mail</label>

                <div class="col-md-9 col-lg-10">
                    <input type="email" id="otherEmail" name="otherEmail" class="form-control"
                           ng-model="ctrl.contact.contact_json.otherEmail" ng-readonly="true">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3 col-lg-2">Web Page</label>

                <div class="col-md-9 col-lg-10">
                    <input type="text" id="webPage" name="webPage" class="form-control"
                           ng-model="ctrl.contact.contact_json.webPage" ng-readonly="true">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3 col-lg-2">Birth Date</label>

                <div class="col-md-9 col-lg-10">
                    <input type="text" id="birthDate" name="birthDate" class="form-control"
                           ng-model="ctrl.contact.contact_json.birthDate" ng-readonly="true">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3 col-lg-2">Note</label>

                <div class="col-md-9 col-lg-10">
                    <input type="text" id="note" name="note" class="form-control"
                           ng-model="ctrl.contact.contact_json.note" ng-readonly="true">
                </div>
            </div>
        </form>
    </div>
</div>
