﻿<div class="layout-row layout-fill ng-cloak" ng-class="ctrl.contact ? ['record-selected'] : []">
    <div class="column-container">
        <div class="record-container" id="record-container">
            <div infinite-scroll='ctrl.pager.nextPage()' data-infinite-scroll-disabled='ctrl.pager.busy'
                 data-infinite-scroll-distance='1' data-infinite-scroll-container="ctrl.container"
                 class="list-striped single-line flex">
                <div ng-repeat="contact in ctrl.pager.results" class="gridLine">
                    <div class="layout-column">
                        <span class="flex"></span>
                        <i data-status-icon data-page="contacts"
                           data-alert-status="{{contact.device_contact.alert_status_id}}"
                           data-restriction-status="1" class="gridTypeImage pull-left"></i>
                        <span class="flex"></span>
                    </div>

                    <div class="flex gridLineText text-primary">
                        <a href ng-click="ctrl.selectContact(contact)"
                           ng-bind="contact.device_contact | wdContactName"></a>
                    </div>

                    <status-settings row-data="contact" page="contacts"
                                     android="{{ctrl.pager.device.is_android}}"></status-settings>
                </div>

                <div ng-show="!ctrl.pager.results.length">No results found...</div>
            </div>
        </div>

        <button class="mdl-button mdl-button--fab" title="Add New Contact"
                ng-click="ctrl.addContact()" data-mdl
                ng-if="ctrl.pager.device.is_android">
            <i class="material-icons">add</i></button>
    </div>

    <div class="main-content" ng-include="ctrl.template">
    </div>
</div>
