<div class="list-container flex">
    <div class="subhead">
        <h2 ng-bind="ctrl.call | wdContactName"></h2>
        <a href ng-click="ctrl.closeCall()"><i class="material-icons">close</i></a>
    </div>

    <md-list role="list">
        <md-list-item ng-repeat="call in ctrl.callsPerContact" class="padding md-3-line">
            <div class="md-list-item-text layout-column">
                <h3 ng-cloak ng-show="call.is_outgoing">Outgoing Call</h3>
                <h3 ng-cloak ng-show="!call.is_outgoing">Incoming Call</h3>
                <p><span class="glyphicon glyphicon-time"></span> <span ng-bind="call.device_created_on | wdDate"></span></p>
                <span ng-bind="call.duration | wdDuration"></span>
            </div>
        </md-list-item>
    </md-list>

</div>
