<div class="dialog-contents" style="padding: 15px 10px 0px 10px;display: block;word-wrap: break-word;width: 420px;">
    <p>
        When you installed My Mobile Watchdog on your child’s phone, we automatically blocked these apps if they are on the phone but when you go to the parent dashboard you can block other applications or to modify these settings
    </p>
    <p>Blocked Apps</p>
    <p>
        <ul>
            <li>SnapChat</li>
            <li>Instagram</li>
            <li>WhatsApp</li>
            <li>Chrome</li>
            <li>Google Camera</li>
            <li>Skype</li>
            <li>Twitter</li>
            <li>Facebook</li>
            <li>Facebook Lite</li>
            <li>Facebook Messenger</li>
            <li>Advanced Task Killer</li>
            <li>Clean Master</li>
            <li>Pinterest</li>
            <li>Google Browser</li>
            <li>Chrome</li>
            <li>Dolphin</li>
            <li>Firefox</li>
            <li>Opera Browser</li>
            <li>UC Browser</li>
            <li>Samsung Internet</li>
        </ul>
    </p>
    <div class="ngdialog-buttons">
        <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog(0)" ui-sref="secure.applications({deviceId:secure.selectedDevice.id})">Configure</button>
        <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog(0)">Ok</button>
    </div>
</div>
