<form name="uploadForm" ng-submit="uploadCtrl.submit()">
    <div class="panel panel-default" style="margin: 0;">
        <div class="panel-header">
            <h1 class="panel-heading">Upload a new Image</h1>
        </div>
        <div class="panel-body">
            <p>Please click the change image button to upload a new image.</p>
            <div class="btn btn-default" ngf-select ng-model="uploadCtrl.file" name="file" ngf-pattern="'image/*'"
                 accept="image/*" ngf-max-size="20MB" ngf-min-height="100" ngf-fix-orientation="true"
                 ngf-resize="{width: 224, height: 224, quality:1.0, centerCrop:true, restoreExif:false}"
                 ngf-resize-if="$width > 224 || $height > 224">Select</div>

            <img ngf-thumbnail="uploadCtrl.file" ng-if="uploadCtrl.file">
        </div>
        <div class="panel-footer">
            <input type="submit" class="btn btn-info">
            <button class="btn btn-danger" ng-click="uploadCtrl.cancel()">Cancel</button>
        </div>
    </div>
</form>
