<div class="container">
	<div class="row landing" style="padding-top:5%; padding-bottom:1%;">
		<div class="col-md-1 col-sm-1"></div>
			<div class="col-md-10 col-sm-10">
				<p class="landing-title landing-blue">Sign-Up</p>
			</div>
		<div class="col-md-1 col-sm-1"></div>
	</div>

    <div class="row">
		<div class="col-md-1 col-sm-1"></div>
		<div class="col-md-4 col-xs-12 col-sm-4 landing">

			<p class="landing-subtitle landing-blue">Lifetime Subscription Offer</p>

            <p class="landing-red"><span class="landing-bold">The 72 hour offer has expired! Please sign up to take advantage of our new system. </span><br /></p>

			<p class="landing-red landing-note">NOTE: If you are currently using our old product, it will no longer be available after April 30, 2016. The new system is a fresh start and will NOT include past data collected.</span></p>
		</div>

		<div class="col-md-1 col-sm-1"></div>

        <div class="col-md-5 col-xs-12 col-sm-5">
       		<span class="flex"></span>
        	<ng-include src="'app/components/login/signup-form.html'"></ng-include>
        	<span class="flex"></span>
        </div>
        <div class="col-md-1 col-sm-1"></div>
    </div>
</div>
