<div class="col-md-12" style="margin-bottom: 10px">
    <p class="page-header">
        The email address in your account and cannot be changed. You can add additional alert addresses in
        <a ui-sref="secure.settings.alerts">Alerts</a>
    </p>

    <div class="col-md-6 col-md-offset-3">
        <form name="accountForm" rel="form">
            <div class="form-group">
                <label>First Name</label>
                <input type="text" placeholder="First Name" ng-model="ctrl.account.first_name" class="form-control"
                       name="first" required ng-minlength="2">

                <div ng-messages="accountForm.first.$error" role="alert"
                     ng-show="accountForm.$submitted || accountForm.first.$dirty">
                    <div ng-message="required">First name is required</div>
                    <div ng-message="minlength">First name must be at least 2 characters long</div>
                </div>
            </div>

            <div class="form-group">
                <label>Last Name</label>
                <input type="text" placeholder="Last Name" ng-model="ctrl.account.last_name" class="form-control"
                       name="last" required ng-minlength="2">

                <div ng-messages="accountForm.last.$error" role="alert"
                     ng-show="accountForm.$submitted || accountForm.last.$dirty">
                    <div ng-message="required">Last name is required</div>
                    <div ng-message="minlength">Last name must be at least 2 characters long</div>
                </div>
            </div>
        </form>
        <div class="top-left-padding">
            <button type="button" class="btn btn-info" ng-click="ctrl.update()">UPDATE</button>
            <button type="button" class="btn btn-warning" ng-click="$state.go('^')">CANCEL</button>
        </div>
        <!--<div class="align-center">-->
        <!--<button type="button" class="btn btn-warning" ng-click="ctrl.cancelSubscription()">CANCEL SUBSCRIPTION</button>-->
        <!--</div>-->
    </div>
</div>
