<div class="main-content">
    <div class="subhead">
        <h2>Add new Website</h2>
        <a href ng-click="ctrl.closeSite()"><i class="material-icons">close</i></a>
    </div>

    <form rel="form" name="siteForm" ng-submit="ctrl.saveSite()" class="padding">
        <div class="form-group">
            <input type="text" name="name" ng-model="ctrl.site.name" class="form-control"
                   placeholder="Site Name" required ng-minlength="4" autofocus>

            <div ng-messages="siteForm.name.$error" role="alert">
                <div ng-message="required">Site Name is required</div>
                <div ng-message="minlength">Site Name must be at least 4 characters long</div>
            </div>
        </div>

        <div class="form-group">
            <input type="test" name="domain" ng-model="ctrl.site.domain" class="form-control"
                   placeholder="Site Domain" required ng-minlength="2">

            <div ng-messages="siteForm.domain.$error" role="alert">
                <div ng-message="required">Site Domain is required</div>
                <div ng-message="minlength">Site Domain must be at least 2 characters long</div>
            </div>
        </div>

        <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" ng-click="siteForm.submit()">
            Add Site
        </button>
    </form>
</div>
