<div class="modal-header">
    <h3 class="modal-title">Disclaimer</h3>
</div>
<div class="modal-body">
    <p> Please Note: eAgency's My Mobile Watchdog is a cell phone service that allows parents to monitor and record unapproved communications on their child's wireless device. Parents are able to research these communications and look for patterns of abuse. My Mobile Watchdog then assists parents in compiling this report for the purpose of further investigation. eAgency does not allege that the contents of this report indicate that this research has already been performed.</p>
    <p>
        The data contained herein is taken from a database of communications to the child's cell phone within a given time period and designated by the parent as suspicious or problematic. The contents of text messages, instant messages and emails are taken directly from the communication. Phone numbers and elapsed time are recorded for mobile calls. If you require further information on how this report was prepared, please contact eAgency Customer Support at (888) 377-8200.
    </p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ctrl.clickOK()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="ctrl.clickCancel()">Cancel</button>
</div>
