<div class="modal-header">
    <h3 class="modal-title">Edit Note</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal">
        <div class="form-group">
            <textarea style="width: 98%; margin-left: 1%; height: 115px;" ng-model="ctrl.note" name="note" id="note"></textarea>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ctrl.clickOK()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="ctrl.clickCancel()">Cancel</button>
</div>
