<div class="layout-row layout-fill"  ng-class="ctrl.selectedRow ? ['record-selected'] : []">
    <div class="record-container" id="record-container">
        <div class="layout-column">
            <div
                isteven-multi-select
                data-input-model="ctrl.selectFilterData"
                data-output-model="ctrl.outputFilters"
                data-button-label="icon name"
                data-item-label="icon name"
                orientation="horizontal"
                helper-elements="all none"
                data-tick-property="ticked"
                on-item-click="ctrl.ltClick(data)"
                on-select-all="ctrl.ltSelectAll()"
                on-select-none="ctrl.ltSelectNone()"></div>

            <div
                isteven-multi-select
                data-input-model="ctrl.selectDateData"
                data-output-model="ctrl.outputDate"
                data-button-label="icon name"
                data-item-label="icon name"
                data-tick-property="ticked"
                helper-elements="none"
                on-item-click="ctrl.dClick(data)"
                selection-mode="single"></div>
        </div>

        <md-list class="list-striped">
            <md-list-item ng-repeat="log in ctrl.results" class="md-2-line" style="padding-left: 5px;">
                <div class="md-avatar">
                    <a href  ng-click="ctrl.selectLog(log)">
                        <img class="gridTypeImage " ng-src="./content/images/icons/{{ctrl.typeResMap[log.log_type_id].icon}}"></a>
                </div>
                <div class="md-list-item-text">
                    <a href ng-click="ctrl.selectLog(log)"><h3>{{log.log_action.description}}</h3></a>
                    <h4 class="text-muted"><i class="glyphicon glyphicon-time"></i> {{log.device_created_on | wdDate}}</h4>
                </div>
            </md-list-item>
        </md-list>
    </div>
    <div class="main-content layout-column">
        <div class="main-content" ng-include="ctrl.template">
        </div>
    </div>
</div>
